<div class="div_menu">
    <a href="/">home</a>
    <a href="/books" class="item">도서검색</a>
    <a href="/shop" class="item">상품검색</a>
    <a href="/movies" class="item">무비</a>
    <a href="/shares" class="item">shares</a>
    <a href="/bbs" style="float: right;"  class="item">게시판</a>
    <a href="/todos"  class="item">할일목록</a>
    

</div>