@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Sunflower:wght@300&display=swap');
*{
  font-family: "Sunflower", sans-serif;

}
.bottom {
  text-align: center;
  margin : 10px 0px;
}

h1{
  text-align: center;
  padding:  10px 0px;
 
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}




.title{
  color: skyblue;
  font-size: 15px;

}