<div class="bottom">
  <hr>
  <h3>Copyright 2024. jay All rights reserved.   </h3>
        
              <div>
                여긴 영역상 'bottom' 따라서 bottom.ejs로 가면 됨 (너 눈에 보이는 것들은 view폴더 안에있겠지
            </div>
          
     
  
   </div>
